.jumbotron{
    background-color: #18A5EB;
    color: white;
    margin-top: 30px;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color:#18A5EB;
    margin-bottom: 0px;
    margin-top: 15px;
    color: white;
}
.btn{
    background-color: green;
}
.btnS{
    background-color: blue;
}
.btnT{
    background-color: transparent;
}
.cardC{
    margin-top: 5px;
    margin-left: 5px;
}
.btn-reserva{
    width: 100%;
    border-radius: 10px;
}
.footer-address-icon{
    padding-right: 10px;
}
.link{
    color: white;
}
.banner{
  margin-top:10px;
  width: 100%;
}
.tab-content{
    padding-top: 20px;
}
.ca{
    margin-top: 50px;
    margin-bottom: 50px;
}
.margenb{
    margin-bottom: 10px;
}