.jumbotron {
  background-color: #18A5EB;
  color: white;
  margin-top: 30px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #18A5EB;
  margin-top: 15px;
  margin-bottom: 0px;
  color: white;
}
.btn {
  background-color: #57bd24;
}
.btnS {
  background-color: #0377fc;
}
.btnT {
  background-color: transparent;
}
.cardC {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}
.btn-reserva {
  width: 100%;
  border-radius: 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
.link {
  color: white;
}
.banner {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}
.tab-content {
  padding-top: 20px;
}
.ca {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margenb {
  margin-top: 0px;
  margin-bottom: 1px;
}
