@celeste: #18A5EB;
@verde: #57bd24;
@azul: #0377fc;


.margenes(@top: 0px,@bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
    background-color: @celeste;
    color: white;
    .margenes(30px,0px);
}
.footer {
    padding: 10px 10px 0 10px;
    background-color: @celeste;
    .margenes(15px,0px);
    color: white; }
  
.btn {
    background-color: @verde; }
  
.btnS {
    background-color: @azul; }
  
.btnT {
    background-color: transparent; }
  
.cardC {
    .margenes(5px,0px);
    margin-left: 5px; }
  
.btn-reserva {
    width: 100%;
    border-radius: 10px; }
  
.footer-address-icon {
    padding-right: 10px; }
  
.link {
    color: white; }
  
.banner {
    .margenes(10px,0px);
    width: 100%; }
  
.tab-content {
    padding-top: 20px; }
  
.ca {
    .margenes(50px,50px); }
  
.margenb {
    .margenes(0px,01px); }
  