$celeste: 'red';
$verde: #57bd24;
$azul: #0377fc;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $celeste;
    color: white;
    @include margenes(30px,0px);
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: $celeste;
    @include margenes(15px,0px);
    color: white;
}
.btn{
    background-color: $verde;
}
.btnS{
    background-color: $azul;
}
.btnT{
    background-color: transparent;
}
.cardC{
    @include margenes(5px,0px);
    margin-left: 5px;
}
.btn-reserva{
    width: 100%;
    border-radius: 10px;
}
.footer-address-icon{
    padding-right: 10px;
}
.link{
    color: white;
}
.banner{
  @include margenes(10px,0px);
  width: 100%;
}
.tab-content{
    padding-top: 20px;
}
.ca{
    @include margenes(50px,50px);
}
.margenb{
    @include margenes(0px,10px);
}